@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* default margin */
* {
    margin: 0;
}

html,body{
    height: 100%;
}

/* Font rendering and styles */

body{
    line-height: 1.5;
    -webkit-font-smooting:antialiased;
}
/* images deafults */

img,svg {
    display: block;
    max-width: 100%;
}

button,input, select,textarea {
    font: inherit;
}

/* overflow */

p, h1, h2, h3, h4, h5, h6 {
 overflow-wrap: break-word;
}

/* variable */

:root {
    --clr-primary-400: hsl(246, 80%, 60%);
    --clr-primary-900: hsl(226, 43%, 10%);
    --clr-primary-800: hsl(235, 46%, 20%);
    --clr-primary-500: hsl(235, 45%, 61%);
    --clr-primary-200: hsl(236, 100%, 87%);
    --clr-primary-100: hsl(0, 0%, 100%);


    --clr-card-header-work: hsl(15, 100%, 70%);
    --clr-card-header-play: hsl(195, 74%, 62%);
    --clr-card-header-study: hsl(348, 100%, 68%);
    --clr-card-header-excersie: hsl(145, 58%, 55%);
    --clr-card-header-social: hsl(264, 64%, 52%);
    --clr-card-header-self-care: hsl(43, 84%, 65%);

    /* font family */
    --ff-primary: 'Rubik', sans-serif;

    /* font size */
    --fs-300: 0.9375rem; /* 15px */
    --fs-400: 1.125rem; /* 18px */
    --fs-600: 2.5rem; /* 40px */
    --fs-700: 3.5rem; /* 56px */

    /* font weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;

    /* padding and border radius defaults  */
    --border-radius: 1rem;
    --padding-main: 1.5rem;
}
/* card - background color, font weight and font size */

.bg-primary-400 {
    background-color: var(--clr-primary-400);
}

.bg-card-800 {
    background-color: var(--clr-primary-800);
}

.bg-card-header-work {
    background-color: var(--clr-card-header-work);
}

.bg-card-header-play {
    background-color: var(--clr-card-header-play);
}

.bg-card-header-study {
    background-color: var(--clr-card-header-study);
}

.bg-card-header-excersie {
    background-color: var(--clr-card-header-excersie);
}

.bg-card-header-social {
    background-color: var(--clr-card-header-social);
}

.bg-card-header-self-care {
    background-color: var(--clr-card-header-self-care);
}

.fw-light {
    font-weight: var(--fw-light);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-600 {
    font-size: var(--fs-600);   
}

